html, body {
	height: 100%;
}

body {
	background-color: #ffffff;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -61px; /* -footer height - border */
}

#wrap > .container {
	padding-top: 60px;
}

#push {
	height: 61px; /* footer height + border */
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #d5d5d5;
}

#footer p {
	margin: 20px 0px;
	color: #606060;
}